---
import Button from "@components/controls/Button.astro";
import IconButton from "@components/controls/IconButton.astro";
import Codeberg from "@icons/codeberg.svg";
import Discord from "@icons/discord.svg";
import GitHub from "@icons/github.svg";
const links = [
	{ href: "/", title: "Home" },
	{ href: "/downloads", title: "Downloads" },
	{ href: "/faq", title: "FAQ" },
];
---

<nav>
	<div class="content-container">
		{
			links.map((link) => (
				<Button
					href={
						link.href === Astro.url.pathname ||
						`${link.href}/` === Astro.url.pathname
							? undefined
							: link.href
					}
					isSquare
					variant={
						link.href === Astro.url.pathname ||
						`${link.href}/` === Astro.url.pathname
							? "tonal"
							: "text"
					}
				>
					{link.title}
				</Button>
			))
		}
		<div class="spacer"></div>
		<IconButton
			href="https://discord.gg/TBcnNX66PH"
			aria-label="Discord server"
			title="Discord"
		>
			<Discord />
		</IconButton>
		<IconButton
			href="https://codeberg.org/paige/Navic"
			aria-label="Codeberg"
			title="Codeberg"
		>
			<Codeberg />
		</IconButton>
		<IconButton
			href="https://github.com/paigely/Navic"
			aria-label="GitHub"
			title="Github"
		>
			<GitHub />
		</IconButton>
	</div>
</nav>

<style>
	nav {
		width: 100%;
		background: var(--m3c-surface-container-high);
		box-shadow: var(--m3-elevation-1);
		color: #fff;
		padding: 15px 0;
		position: sticky;
		top: 0;
		z-index: 99999;
	}
	.content-container {
		display: flex;
		align-items: center;
	}
	.spacer {
		flex: 1;
	}
	nav :global(a),
	nav :global(button) {
		margin-top: 0 !important;
	}
</style>
