---
import Card from "@components/containers/Card.astro";
import Grid from "@components/containers/Grid.astro";
import Lyrics from "@icons/lyrics.svg";
import Code from "@icons/code.svg";
import Bolt from "@icons/bolt.svg";
import Design from "@icons/design.svg";
import Paintbrush from "@icons/paintbrush.svg";
import Widgets from "@icons/widgets.svg";
---

<Grid>
	<Card>
		<h4><Design class="icon" />Beautiful</h4>
		<p>Navic boasts the Material 3 Expressive design language, Google's latest design system.</p>
	</Card>
	<Card>
		<h4><Bolt class="icon" />Powerful</h4>
		<p>Most features from Navidrome's API are implemented inside Navic, and are all wrapped up in an intuitive interface.</p>
	</Card>
	<Card>
		<h4><Code class="icon" />Free & Open Source</h4>
		<p>Unlike many clients, Navic is free and open source, forever. No subscriptions, paywalls, or spyware!</p>
	</Card>
	<Card>
		<h4><Widgets class="icon" />Widgets</h4>
		<p>Based off of Google's widget designs, Navic features a couple of home screen widgets with sleek designs.</p>
	</Card>
	<Card>
		<h4><Lyrics class="icon" />Lyrics</h4>
		<p>Beautiful lyrics UI, with support for <a href="https://lrclib.net/">LRCLIB</a>, embedded/local lyrics, and word-by-word lyrics from <a href="https://github.com/ibratabian17/YouLyPlus">YouLyPlus</a>!</p>
	</Card>
	<Card>
		<h4><Paintbrush class="icon" />Customisable</h4>
		<p>Tweak everything with Navic's extensive settings, down to the little details, such as the tab bar layout.</p>
	</Card>
	<h5 style="text-align: center; font-size: 16px; margin-top: 10px; margin-bottom: 0;">...and more!</h5>
</Grid>

<style>
	.icon {
		vertical-align: middle;
		margin-right: 7px;
	}
	h4 {
		margin: 0;
		display: flex;
		align-items: center;
		line-height: 24px !important;
	}
	p {
		margin-top: 5px;
		margin-bottom: 0;
	}
	.bottom-card {
		text-align: center;
	}
</style>
